.footer_container {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-black);
}
.footer_image {
    padding: 20px;
    /* width: 50%; */
    height: 80px;
}
.footer_text {
    max-width: 100px;
    font-size: 0.7rem;
    font-family: var(--main-font);
/* width: 50%; */
}
@media (min-width: 800px) {
    .footer_image {
        padding: 35px;
        height: 150px;
    }
    .footer_text {
        font-size: 1.1rem;
        max-width: 150px;
    }
}