.form_container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form_header_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
  gap: 10px;
}
.form_image {
  width: 60px;
  height: 40px;
}
.input_image {
  display: none;
}
.form_header {
  max-width: 300px;
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Paytone One', sans-serif;
  line-height: 1rem;
}
.inputs_wrapper {
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
.form_inputs {
  outline: none;
  padding: 10px;
  width: 340px;
  margin: 5px;
  border: none;
}
.form_checkbox {
  align-self: start;
}
.checbox_container {
  padding-left: 4px;
  padding-right: 0px;
  margin: 2px;
  max-width: 400px;
}
.checkbox_label {
  font-size: 0.7rem;
  padding-left: 10px;
  font-family: var(--main-font);
}
.label_third {
  display: inline-flex;
  max-width: 348px;
}
.policy_links {
  text-decoration: none;
  color: var(--bg-black);
}

.form_button {
  border: 1px solid var(--white);
  padding: 0px 15px;
  background-color: var(--bg-black);
  color: var(--white);
  font-family: var(--main-font);
  font-weight: 800;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  margin: 10px auto;
  cursor: pointer;
  transition: 0.2s all ease-in;
}
.form_button:hover {
  color: var(--main-red);
  background-color: var(--white);
  border: 1px solid var(--bg-black);
}
.form_button:hover svg {
  stroke: var(--main-red);
}
.form_button span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}
.form_button span svg {
  width: 40px;
  height: 40px;
  transition: 0.2s all ease-in;
}
.inputs_container {
  width: fit-content;
}

@media (min-width: 600px) {
  .form_header {
    font-size: 1.5rem;
    line-height: 1.2rem;
  }
  .form_image {
    width: 90px;
    height: 50px;
  }
}
@media (max-width: 370px) {
  .inputs_container {
    justify-content: center;
    align-items: center;
    max-width: 280px;
  }
  .form_inputs {
    width: 270px;
  }
  .checbox_container {
    padding: 0;
    margin: 0;
    width: auto;
  }
  .form_header_wrapper {
    gap: 0;
  }
  .form_header {
    font-size: 1.2rem;
    line-height: 1rem;
    max-width: 240px;
  }
  .form_image {
    width: 40px;
    height: 20px;
  }
  .form_inputs {
    max-width: 280px;
  }
  .checbox_container {
    padding-left: 5px;
    max-width: 280px;
    padding-right: 0;
  }
}
@media (min-width: 800px) {
  .form_container {
    display: row;
  }
  .form_header_wrapper {
    margin-top: 30px;
    padding: 0 40px;
    display: block;
    text-align: center;
  }
  .form_header {
    font-size: 2.5rem;
    line-height: 2rem;
  }
  .inputs_wrapper {
    flex-direction: row;
    gap: 40px;
    margin: 0;
    margin-top: 10px;
  }
  .data_wrapper {
    display: flex;
  }
  .input_image__container {
    align-self: flex-start;
  }
  .form_image {
    display: none;
  }
  .input_image {
    display: block;
    width: 150px;
    height: 140px;
  }
  .checbox_container {
    padding-left: 5px;
  }
  .form_button {
    margin-left: 0;
  }
  .checkbox_label {
    font-size: 0.9rem;
  }
}
@media (max-width: 925px) {
  .data_wrapper {
    flex-wrap: wrap;
  }
}
@media (min-width: 926px) {
  .label_third {
    max-width: 100%;
  }
}
