.slides_wrapper {
    width: 100vw;
    height: 348px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .prize_header {
   
  }