.slider_container {
  width: 100vw;
  height: fit-content;
  background-color: var(--main-red);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3px;
}
.prizes_image {
  width: 100vw;
}
