.swiper {
  width: 100vw;
  height: fit-content;
  margin-bottom: -10px;
}
.swiper-wrapper {
  /* height: 300px; */
}
.swiper-slide {
  background-color: var(--main-red);
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100vw;
  object-fit: contain;
}
.swiper-button-next,
.swiper-button-prev {
  color: var(--white);
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  /* opacity: 1; */
}
.swiper-pagination-bullet-active {
  background: var(--white);
}

@media (min-width: 800px) {
  .swiper-pagination-bullet {
    width: 40px;
    height: 40px;
  }
  .swiper-wrapper {
    height: fit-content;
  } 
 
}